.contaienr{
	background-color: #FFFFFF;
	height: 100%;
}
.banner{
	width: 100%;
	height: 3.6rem;
}
.share_btn{
	width: 6.86rem;
	height: 1rem;
	background-color: #7FB230;
	color: #FFFFFF;
	margin: 0.36rem auto 0;
	text-align: center;
	border-radius: 0.5rem;
	font-size: 0.36rem;
	line-height: 1rem;
}
.prize_rule{
	font-size: 0.32rem;
	color: #1A1A1A;
	display: block;
	text-align: center;
	margin-top: 0.53rem;
	line-height: 0.32rem;
	font-weight: bold;
}
.rule_text{
	font-size: 0.3rem;
	line-height: 0.5rem;
}
.text_wrap{
	padding: 0 0.3rem;
	margin-top: 0.36rem;
}
