
.content_item {
    margin-top: 0.16rem;
}

.item_list {
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 0.36rem;
    border-bottom: 0.01rem solid #EBEBEB;
    position: relative;
}


.list_title {
    width: 2rem;
    font-size: 0.3rem;
    color: #1A1A1A;
}

.list_content {
    font-size: 0.3rem;
    color: #999;
}

.input_item {
    /*color: #999;*/
    border: 0;
    outline: none;
}

.save_btn{
    width: 93%;
    height: 0.88rem;
    font-size: 0.36rem;
    color: #fff;
    background-color: #7FB230;
    border-radius: 0.44rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 0.32rem;
}