
.content_item{
    padding: 0 0.32rem;
}
.item_list{
    background: #fff;
    padding: 0.35rem 0.32rem;
    font-size: 0.28rem ;
    color: #999;
    margin-top: 0.32rem;
}
.list_title{
    font-size: 0.32rem ;
    color: #000;
}
.list_content{
    padding: 0 0.25rem;
    margin-top: 0.30rem;
    line-height: 0.6rem;
}

.time{
    font-size:0.28rem ;
    color: #1A1A1A;
    text-align: right;
}

.bottom_btn{
    width: 93%;
    height: 0.88rem;
    font-size: 0.36rem;
    color: #fff;
    background-color: #7FB230;
    border-radius: 0.05rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 0.32rem;
}